.w3-theme-light {color:#000 !important;background-color:#fff3e0 !important;}
.w3-theme {color:#000 !important;background-color:#ff9800 !important;}
.w3-theme-dark {color:#fff !important;background-color:#e65100 !important;}
.w3-text-theme {color:#ff9800 !important;}