.w3-theme-light {color:#000 !important;background-color:#ffe0b2 !important;}
.w3-theme {color:#000 !important;background-color:#ffc107 !important;}
.w3-theme-dark {color:#fff !important;background-color:#ef6c00 !important;}
.w3-text-theme {color:#ffc107 !important;}
