.w3-theme-light {color:#000 !important;background-color:#dcedc8 !important;}
.w3-theme {color:#000 !important;background-color:#8bc34a !important;}
.w3-theme-dark {color:#fff !important;background-color:#558b2f !important;}
.w3-text-theme {color:#8bc34a !important;}
