.w3-theme-light {color:#000 !important;background-color:#C8E6C9 !important;}
.w3-theme {color:#000 !important;background-color:#4CAF50 !important;}
.w3-theme-dark {color:#fff !important;background-color:#2E7D32 !important;}
.w3-text-theme {color:#4CAF50 !important;}
