.w3-theme-light {color:#000 !important;background-color:#d7ccc8 !important;}
.w3-theme {color:#fff !important;background-color:#795548 !important;}
.w3-theme-dark {color:#fff !important;background-color:#4e342e !important;}
.w3-text-theme {color:#795548 !important;}
