p {
    padding-left: 1em;
}

input[type='range'] {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

span.left_align {
    float: left;
    margin-left: 10%;
}

span.right_align {
    float: right;
    margin-right: 10%;
}

.w3-group {
    padding-left: 0.5em;
    padding-right: 0.5;
    margin: 1em;
}

.tall {
    margin-bottom: 30px;
}

#canvas {
    height: 65vh;
}