<!doctype html>
<html>
    <head>
        <title>Lab #04 - CAD with Lighting</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="shortcut icon" type="image/x-icon" href="./lab04.ico">
        
        <link rel="stylesheet" href="../css/w3.css" />
        <link rel="stylesheet" href="../css/w3-theme-teal.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="CAD.css" />

        <script id="vertex-shader" type="x-shader/x-vertex">
            attribute  vec4 vPosition;

            uniform mat4 modelViewMatrix;
            uniform mat4 projectionMatrix;

            void main() 
            {
                gl_Position = projectionMatrix * modelViewMatrix * vPosition;
            } 
        </script>

        <script id="fragment-shader" type="x-shader/x-fragment">
            precision mediump float;
            uniform vec4 user_color;
            
            void main() {
                gl_FragColor = user_color;
            }
        </script>
        
    </head>
    <body>
        <div class="w3-row">
            <section class="w3-col s12 m12 l12">
                <header class="w3-container w3-theme">
                    <h2>Description</h2>
                </header>
                <section>
                    <p>
                        This lab was created for <a href="https://www.coursera.org/course/webgl" target="webgl">Interactive Computer Graphics with WebGL</a> course on <a href="https://www.coursera.org" target="coursera">Coursera</a>.
                    </p>
                    <p>
                        In this lab you can create cone, cylinder and sphere. You can change some attributes, location and rotation of every objects. You can download objects as JSON file and you can upload that later.
                    </p>
                    <p>
                        I hope you'll enjoy it!
                    </p>
                </section>
            </section>
        </div>
        <div class="w3-row" ng-app="webGlLab03App" ng-controller="webGlLab03Ctrl">
            <section class="w3-col s12 m4 l3">
                <header class="w3-container w3-theme">
                    <h2>Parameters</h2>
                </header>
                <section>
                    <form name="form" role="form">
                        <div>
                            <button class="w3-btn w3-padding-small w3-theme-dark" ng-show="(!(editMode))" title="Create new object" ng-click="newObject()"><i class="material-icons">add</i></button>
                            <select ng-model="selectable_objects" ng-show="(!(editMode)) && (objects.length != 0)" ng-options="obj.name for obj in objects | orderBy: 'name' " ng-change="loadObject()"></select>
                            <button class="w3-btn w3-padding-small w3-theme-dark" ng-show="(!(editMode)) && (selectedObject !== null)" title="Edit selected object" ng-click="editObject()"><i class="material-icons">edit</i></button>
                            <button class="w3-btn w3-padding-small w3-theme-dark" ng-show="(!(editMode)) && (selectedObject !== null)" title="Delete selected object" ng-click="deleteObject()"><i class="material-icons">delete</i></button>
                            <button class="w3-btn w3-padding-small w3-theme-dark" ng-show="(!(editMode)) && (objects.length > 0)" title="Download objects into JSON file" ng-click="downloadObjects()"><i class="material-icons">file_download</i></button>
                            <a href="#fileUpload" class="w3-btn w3-padding-small w3-theme-dark" ng-show="(!(editMode))" title="Upload objects from JSON file"><i class="material-icons">file_upload</i></a>
                            <div id="fileUpload" class="w3-modal">
                                <div class="w3-modal-dialog">
                                    <div class="w3-modal-content w3-card-4">
                                        <header class="w3-container w3-theme">
                                            <a href="#" class="w3-closebtn">&times;</a>
                                            <h2>Upload objects</h2>                                        
                                        </header>
                                        <div class="w3-container">
                                            <div class="w3-group">
                                                <label for="file">File:</label>
                                                <input type="file" id="file" ng-model="file" accept="application/json" />
                                            </div>
                                        </div>
                                        <div class="container w3-center w3-padding-medium">
                                            <a href="#" class="w3-btn w3-theme-dark" ng-click="uploadObjects($event)">Upload<i class="w3-margin-left w3-right material-icons">file_upload</i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w3-container w3-theme-light"><h5>Object</h5></div>
                        <div class="w3-container">
                            <div class="w3-group">
                                <label for="obj.name">Name:</label>
                                <input type="text" ng-model="obj.name" ng-disabled="(varLoading) || (!(editMode))" ng-blur="checkRenaming()"/>
                                <input type="hidden" ng-model="obj.name_changed" />
                            </div>
                            <div class="w3-group">
                                <label for="obj.type">Type:</label>
                                <select ng-model="obj.type" ng-disabled="(varLoading) || (!(editMode)) || (selectedObject != null)" ng-change="autoRename()">
                                    <option value="0" label="Cone">Cone</option>
                                    <option value="1" label="Cylinder">Cylinder</option>
                                    <option value="2" label="Sphere">Sphere</option>
                                </select>
                            </div>
                            <div class="w3-group tall">
                                <label for="obj.fragments">Fragments:&nbsp;</label><span ng-bind="obj.fragments"></span><br />
                                <input class="w3-range" type="range" ng-model="obj.fragments" min="9" max="72" step="1" list="fragmentsList" ng-disabled="(varLoading) || (!(editMode))">
                                <datalist id="fragments" name="fragments">
                                    <option value="9">
                                    <option value="18">
                                    <option value="27">
                                    <option value="36">
                                    <option value="45">
                                    <option value="54">
                                    <option value="63">
                                    <option value="72">
                                </datalist>
                                <span class="left_align">9</span>
                                <span class="right_align">72</span>
                            </div>                
                        </div>
                        <div class="w3-container w3-theme-light"><h5>Attributes</h5></div>
                        <div class="w3-container">
                            <div class="w3-group" ng-show="obj.type != 1">
                                <label for="obj.radius">Radius:</label>
                                <input type="number" ng-model="obj.radius" min="0.0" step="any" ng-disabled="(varLoading) || (!(editMode))"/>
                            </div>
                            <div class="w3-group" ng-show="obj.type == 1">
                                <label for="obj.bottom_radius">Bottom radius:</label>
                                <input type="number" ng-model="obj.bottom_radius" min="0.0" step="any" ng-disabled="(varLoading) || (!(editMode))"/>
                            </div>
                            <div class="w3-group" ng-show="obj.type == 1">
                                <label for="obj.top_radius">Top radius:</label>
                                <input type="number" ng-model="obj.top_radius" min="0.0" step="any" ng-disabled="(varLoading) || (!(editMode))"/>
                            </div>
                            <div class="w3-group" ng-show="obj.type != 2">
                                <label for="obj.height">Height:</label>
                                <input type="number" ng-model="obj.height" min="0.0" step="any" ng-disabled="(varLoading) || (!(editMode))"/>
                            </div>
                            <div class="w3-group" ng-show="obj.type != 2">                        
                                <label class="w3-checkbox">
                                    Closed:
                                    <input type="checkbox" ng-model="obj.closed" ng-disabled="(varLoading) || (!(editMode))" />
                                    <span class="w3-checkmark"></span>
                                </label>
                            </div>                
                            <div class="w3-group">                        
                                <label for="obj.color">Color:</label>
                                <input type="color" ng-model="obj.color" ng-disabled="(varLoading) || (!(editMode))" />
                            </div>
                        </div>
                        <div class="w3-container w3-theme-light"><h5>Position</h5></div>
                        <div class="w3-container">
                            <div class="w3-group">
                                <div>
                                    <label for="obj.pos_x">X:&nbsp;</label><input type="number" ng-model="obj.pos_x" step="any" ng-disabled="(varLoading) || (!(editMode))"/>
                                </div>
                                <div>
                                    <label for="obj.pos_y">Y:&nbsp;</label><input type="number" ng-model="obj.pos_y" step="any" ng-disabled="(varLoading) || (!(editMode))"/>
                                </div>
                                <div>
                                    <label for="obj.pos_z">Z:&nbsp;</label><input type="number" ng-model="obj.pos_z" step="any" ng-disabled="(varLoading) || (!(editMode))"/>
                                </div>
                            </div>
                        </div>
                        <div class="w3-container w3-theme-light"><h5>Rotation</h5></div>
                        <div class="w3-container">
                            <div class="w3-group">
                                <div>
                                    <label for="obj.rot_x">X:&nbsp;</label><input type="number" ng-model="obj.rot_x" min="-360" max="360" step="any" ng-disabled="(varLoading) || (!(editMode))"/>
                                </div>
                                <div>
                                    <label for="obj.rot_y">Y:&nbsp;</label><input type="number" ng-model="obj.rot_y" min="-360" max="360" step="any" ng-disabled="(varLoading) || (!(editMode))"/>
                                </div>
                                <div>
                                    <label for="obj.rot_z">Z:&nbsp;</label><input type="number" ng-model="obj.rot_z" min="-360" max="360" step="any" ng-disabled="(varLoading) || (!(editMode))"/>
                                </div>
                            </div>
                        </div>
                        <div class="container w3-center">
                            <button class="w3-btn w3-theme-dark" ng-show="editMode" ng-disabled="(varLoading) || (!(editMode))" ng-click="form.submit();saveObject(form);">Done<i class="w3-margin-left w3-right material-icons">done</i></button>
                            <button class="w3-btn w3-theme-dark" ng-show="editMode" ng-disabled="(varLoading) || (!(editMode))" ng-click="reset(form)">Cancel<i class="w3-margin-left w3-right material-icons">cancel</i></button>
                        </div>
                    </form>
                </section>
            </section>
            <section class="w3-col s12 m8 l9">
                <header class="w3-container w3-theme">
                    <h2>Canvas</h2>
                </header>
                <section id="canvas" name="canvas" resize>
                    <canvas id="gl-canvas" name="gl-canvas" ng-mousedown="startDrawing($event)" ng-mousemove="drawing($event)" ng-mouseup="endDrawing($event)" ng-touchstart="startDrawing($event)" ng-touchmove="drawing($event)" ng-touchend="endDrawing($event)">
                    Oops ... your browser doesn't support the HTML5 canvas element
                    </canvas>
                </section>
            </section>
        </div>
        <footer class="w3-row w3-theme" style="padding-bottom:8px;padding-top:8px;">
            <div class="w3-col s4 m4 l3">
                <span style="padding-left:8px;">Author:&nbsp;Richard&nbsp;Kovacs</span>
            </div>
            <div class="w3-col s8 m8 l9" style="text-align:right;padding-right:8px;">
                <span>Powered by:</span>
                <a href="http://www.w3schools.com/w3css/default.asp" target="w3css"><img src="../icons/w3css.gif" alt="W3CSS" title="W3CSS" height="24px"/></a>&nbsp;
                <a href="https://www.angularjs.org/" target="angularjs"><img src="../icons/AngularJS.png" alt="AngularJS" title="AngularJS" height="24px"/></a>&nbsp;
                <a href="https://jquery.com/" target="jquery"><img src="../icons/jQuery.png" alt="jQuery" title="jQuery" height="24px"/></a>&nbsp;
                <a href="https://www.khronos.org/webgl/" target="webgl"><img src="../icons/WebGL.png" alt="WebGL" title="WebGL" height="24px"/></a>
            </div>
        </footer>
        
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script type="text/javascript" src="../common/webgl-utils.js"></script>
        <script type="text/javascript" src="../common/initShaders.js"></script>
        <script type="text/javascript" src="../common/MV.js"></script>
        <script type="text/javascript" src="CAD.js"></script>
    </body>
</html>